body {
  text-align: center;
  color: #ffd384;
}

img {
  border-radius: 280px;
  width: 140px;
}

h3 {
  color: black;
  font-family: "Montserrat", sans-serif;
}

a {
  font-family: "Montserrat", sans-serif;
  font-weight: 300wh;
  top: 50%;
  right: 0;
  left: 0;
  text-align: center;

  margin: 0 auto;
  width: 300px;
  height: 17px;

  /* position: absolute; */

  /* position: absolute; */
  /* top: 45%; */
  right: 0;
  left: 0;
  font-weight: 300wh;
  background: #232323;
  padding: 3vh;
  text-align: center;
  align-items: center;
  text-decoration: none;
  width: 1000wh;
  color: white;
  font-family: "Montserrat";
  font-size: 10000wh;
  border: 1px solid #232323;
  display: inline-block;
  transition: 0.25s;
}

a:hover {
  background: white;
  color: #232323;
}

.linktree {
  margin: 15px;
  display: flexbox;
}
